.com { color: #93a1a1; }
.lit { color: #F60; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str { color: #D14; }
.atv { color: #d44950; }
.kwd, .prettyprint { color: #0A8; }
.tag { color: #2f6f9f; }
.typ, .dec, .var { color: teal; }
.atn { color: #4f9fcf; }
.pln { color: #069; }

.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

ol.linenums {
  color: #1E347B;
  margin: 0;
}

ol.linenums li {
  padding-left: 10px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}

